<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/styles-productEdit.css">
</head>
<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>
    <main>
        <section>            
            <div class="container">
                <div class="title">Crear Producto</div>
                <form action="/products" method="POST" enctype="multipart/form-data">
                    <div class="product-details">
                        <div class="input-box">
                            <input type="text" name="name" id="name" placeholder="Nombre">
                        </div>
                        <div class="input-box">
                            <input type="text" name="description" id="description" placeholder="Descripción">
                        </div>
                        <div class="input-box">
                            <input type="file" name="image" id="image" class="input-img" accept="image/*">
                        </div>
                        <div class="input-box">
                            <select name="productCategoryId">
                                <% for( category of categories ) { %>
                                    <option value="<%= category.id %>"><%= category.name %></option>
                                <% } %> 
                            </select> 
                        </div>
                        <div class="input-box">
                            <input type="number" name="weight" id="weight" placeholder="kg">
                        </div>
                        <div class="input-box">
                            <input type="number" name="price" id="price" placeholder="$">
                        </div>
                    </div>
                    <div class="button-container">
                        <div class="button">
                            <input type="submit" value="Guardar">
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
</body>
</html>