<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/styles-productEdit.css">
</head>
<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>
    <main>
        <section>            
            <div class="container">
                <div class="title">Editar Producto</div>
                <form action="/products/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="product-details">
                        <div class="input-box">
                            <label for="name">Nombre</label>
                            <input type="text" name="name" id="name" value="<%= product.name %>" >
                        </div>
                        <div class="input-box">
                            <label for="description">Descripcion</label>
                            <input type="text" name="description" id="description" value="<%= product.description %>" >
                        </div>
                        <div class="input-box">
                            <label for="image">Imagen</label>
                            <input type="file" name="image" id="image" class="input-img" accept="image/*">
                        </div>
                        <div class="input-box">
                            <label for="category">Categoria</label>
                            <select name="productCategoryId">
                                <% for( category of categories ) { %>
                                    <% if (category.id == product.productCategoryId) { %> 
                                        <option value="<%= category.id %>" selected><%= category.name %></option>
                                    <% } else { %>
                                        <option value="<%= category.id %>"><%= category.name %></option>
                                    <% } %> 
                                <% } %> 
                            </select> 
                        </div>
                        <div class="input-box">
                            <label for="weight">Tamaño</label>
                            <input type="text" name="weight" id="weight" value=<%= product.weight %>>
                        </div>
                        <div class="input-box">
                            <label for="price">Precio</label>
                            <input type="text" name="price" id="price" value=<%= product.price %>>
                        </div>
                    </div>
                    <div class="button-container">
                        <div class="button">
                            <input type="submit" value="Guardar">
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
</body>
</html>