<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/styles-detail.css">
</head>

<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>
    <main>
        <div class="barra-busqueda"> 
            <input type="text" placeholder="¿Qué producto buscás?" />
            <i class="fa fa-search"></i>
        </div>
        <section>
            <article>
                <div class="product-detail">
                    <img class="product-img" src="<%= product.image %>">
                    <div class="product-vip">
                        <h2 class="product-title"><%= product.name %></h2>
                        <p class="product-price">$<%= product.price %></p>
                        <div class="product-quantity">
                            <button class="btn minus-btn disabled" type="button">-</button>
                            <input type="text" id="product-quantity" value="1">
                            <button class="btn plus-btn" type="button">+</button>
                        </div>
                        <div class="product-shopping-cart">
                            <a class="add-cart" href="#">
                            <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <p class="product-description"><%= product.description %>
                </p>
            </article>
        </section>
    </main>
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
</body>

</html>