<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>
    <main>
        <section>            
            <h1>Estas seguro de querer borrar este producto: <%= product.name %>???</h1>
            <p>
                <form action="/products/<%= product.id %>?_method=DELETE" method="POST">

                    <br>

                    <p> <button type="submit">Borrar el Producto</button>
            
                </form>
            </p>
        </section>
    </main>
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
</body>
</html>