<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>
    <main>
       <p>Bienvenido: <%= locals.user.firstName %> <%= locals.user.lastName %></p> 
       <img src="<%= locals.user.image %>" alt="">
       <a href="/users/profile/edit">Editar perfil</a>
    </main>
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
</body>
</html>